.main {
    min-width: 1080px;
    background-color: "lightgray";
    height: 100vh;
    text-align: center;
}

.main > * {
    margin: 5px 5px;
}

.announcements-container {
    width: 100%;
    margin: auto;
}