.search-result-main {
    flex-direction: column;
}

.search-result-main > * {
    justify-content: center;
    align-items: center;
}

.results-info {
    display: flex;
    justify-content: center;
    height: 70px;
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
    background-color: #343a40!important;
}